<!-- Default home page -->
<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'> -->

  <div> 
    <h3> THE FINE WINE ARTICLE WITH SAILS.JS</h3>
    <blockquote>
        <h5> Article built on RESTful api convention with sails and mongodb</h5>
    </blockquote>
            
  </div>
<div class="row">
  <div class="col l5 m8 s10">
    <div class="card  darken-1">
      <div class="card-action">
        <a href="/article/list" class="waves-effect waves-light btn">View Articles</a>
        <a href="/article/new" class="waves-effect waves-light btn">Add Articles</a>
      </div>
    </div>
  </div>
</div>
