html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
  

body {
  /* padding: 50px; */

}

a {
  color: #00B7FF;
}
.price{
  font-weight: bold;
  font-size: 26px;
}

.botton_add_to_cart{
  font-weight: 39px;
  font-size:20px
}
/* .index-column{
  margin:30px;
} */